.robotForm {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .robotForm > input {
    margin-bottom: 3px;
  }
  .robotForm label {
    margin-bottom: 3px;
  }
  
  .robotForm > button {
    padding: 3px 0px;
    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: rgb(97, 162, 248);
  }
  
  .robotForm > button:hover {
    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: rgb(151, 203, 255);
  }
  
  .errors {
    color: red;
  }