h1{
   margin: 0px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-style: italic;
   
}
.allContainer{
   margin: 0px 0px 8px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: brown;
   display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 50px;
}
 
 .header{
   /* background-image: url("../assets/image/jsx.jpg"); */
  background-color: aqua;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size:25px;
  color: rgb(36, 78, 18);
  padding: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  text-shadow: 8px 8px 15px #98d898;
 }
 /* body{
   width: 100vh;
background-image: url("./assets/image/cat-color.jpg");
 } */
  
 .fontEffectFireAnimation {
   color: rgb(59, 87, 46);
   text-shadow: 8px 9px 15px;
   text-decoration: rgb(242, 234, 9);
   text-align: center;
   font-style: italic;
   font-family: "Times New Roman", Times, bold, serif;
 }
