.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catContainer {
  max-height: 700px;
  overflow-y: auto;
  width: 100%;
  color: blue;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  align-content: center;
  text-align: center;
  background: #e96443;
  background: -webkit-linear-gradient(to right, #4ce8ce, #e39885);
  background: linear-gradient(
    to right,
    #6da24c,
    #e06d50db,
    rgba(235, 215, 102, 0.729)
  );
  border-radius: 25px;
}

.cat {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 100%;
}

.spinner {
  border: 16px
    linear-gradient(to right, #6da24c, #e06d50db, rgba(235, 215, 102, 0.729));
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

/* .spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
} */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.catImg {
  min-width: 400px;
  min-height: 300px;
  background-image: url("../../../assets/image/cat-color.jpg");
  background-size: cover;
}
.allContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 50px;
}
.catFact {
  color: blue;
  font-family: Georgia, "Times New Roman", Times, serif;
}


.myColor {
  background: #e96443;
  background: -webkit-linear-gradient(to right, #4ce8ce, #e39885);
  background: linear-gradient(
    to right,
    #6da24c,
    #e06d50db,
    rgba(235, 215, 102, 0.729)
  );
}

.font-effect-3d-float {
  text-shadow: 0 0.032em 0 #0c458b, 0px 0.15em 0.11em rgba(0, 0, 0, 0.15),
    0px 0.25em 0.021em rgba(0, 0, 0, 0.1), 0px 0.32em 0.32em rgba(0, 0, 0, 0.1);
  color: #6f3e3e;
}
.font-effect-shadow-multiple {
  color: #2a8b0c;
  text-shadow: 0.04em 0.04em 0 #fff, 0.08em 0.08em 0 #aaa;
  -webkit-text-shadow: 0.04em 0.04em 0 #fff, 0.08em 0.08em 0 #aaa;
}

.font-effect-fire-animation {
  -webkit-animation-duration: 0.8s;
  -webkit-animation-name: font-effect-fire-animation-keyframes;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  color: #ffe;
}

.myButtonFoot-Art {
  justify-content: center;
  cursor: pointer;
  padding: 6px 10px;
  margin: 2px;
  min-width: 140px;
  background: #d02f06;
  background: -webkit-linear-gradient(
    to right,
    goldenrod,
    #406aad,
    #e39885,
    gold
  );
  background: linear-gradient(
    to right,
    white,
    #073585,
    #e06d50db,
    rgb(244, 61, 61),
    gold,
    rgba(235, 215, 102, 0.729)
  );

  border: dotted;
  border-radius: 35px;
  border: gold;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* max-width: 160px; */
  max-height: 40px;
  text-align: center;
}

.myButtonFoot-Art:hover {
  justify-content: center;
  cursor: pointer;
  padding: 6px 10px;
  margin: 2px;
  min-width: 140px;
  background: #d02f06;
  background: -webkit-linear-gradient(
    to right,
    goldenrod,
    #406aad,
    #e39885,
    gold
  );
  background: linear-gradient(
    to right,
    red,
    white,
    #073585,
    #e06d50db,
    rgb(244, 61, 61),
    gold,
    rgba(235, 215, 102, 0.729),
    rgb(39, 185, 205)
  );
  border-style: double;
  border-width: 3px;
  border-color: #0b4158;
  border-radius: 35px;
  border: rgb(30, 71, 232);
  color: blue;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* max-width: 160px; */
  max-height: 40px;
  text-align: center;
}

/* @font-face {
  font-family: 'Rancho';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/rancho/v21/46kulbzmXjLaqZRVam_h.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} */

/* @-webkit-keyframes font-effect-fire-animation-keyframes {
  0% {
    text-shadow: 0 -0.05em 0.2em #FFF, 0.01em -0.02em 0.15em #FE0, 0.01em -0.05em 0.15em #FC0, 0.02em -0.15em 0.2em #F90, 0.04em -0.20em 0.3em #F70,0.05em -0.25em 0.4em #F70, 0.06em -0.2em 0.9em #F50, 0.1em -0.1em 1.0em #F40;
  }
  25% {
    text-shadow: 0 -0.05em 0.2em #FFF, 0 -0.05em 0.17em #FE0, 0.04em -0.12em 0.22em #FC0, 0.04em -0.13em 0.27em #F90, 0.05em -0.23em 0.33em #F70, 0.07em -0.28em 0.47em #F70, 0.1em -0.3em 0.8em #F50, 0.1em -0.3em 0.9em #F40;
  }
  50% {    text-shadow: 0 -0.05em 0.2em #FFF, 0.01em -0.02em 0.15em #FE0, 0.01em -0.05em 0.15em #FC0, 0.02em -0.15em 0.2em #F90, 0.04em -0.20em 0.3em #F70,0.05em -0.25em 0.4em #F70, 0.06em -0.2em 0.9em #F50, 0.1em -0.1em 1.0em #F40;
  }
  75% {
    text-shadow: 0 -0.05em 0.2em #FFF, 0 -0.06em 0.18em #FE0, 0.05em -0.15em 0.23em #FC0, 0.05em -0.15em 0.3em #F90, 0.07em -0.25em 0.4em #F70, 0.09em -0.3em 0.5em #F70, 0.1em -0.3em 0.9em #F50, 0.1em -0.3em 1.0em #F40;
  }
  100% {
    text-shadow: 0 -0.05em 0.2em #FFF, 0.01em -0.02em 0.15em #FE0, 0.01em -0.05em 0.15em #FC0, 0.02em -0.15em 0.2em #F90, 0.04em -0.20em 0.3em #F70,0.05em -0.25em 0.4em #F70, 0.06em -0.2em 0.9em #F50, 0.1em -0.1em 1.0em #F40;
  }
} */
