.noPageImg {
    min-width: auto;
    min-height: 300px;
    background-image: "../../components/myGifts/composing-2925179_1920.jpggit";
    background-size: cover;
    align-items: center;
    justify-items: center;
    justify-content: center;
    
  }
  