.App-Art {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.jsxImg {
  height: 400px;
  width: auto;
}

.allaImgArt {
  height: 140px;
  width: auto;
  border: none;
  border-radius: 50%;
  /* border-color: rgb(255, 0, 0); */
  /* border-width: 13px; */
}

.but-greed-Art {
  /* grid-template-columns: none|auto|max-content|min-content|length|initial|inherit; */
  padding: 10 px;
  margin: 0px;
  
  /* gap: 10px; */
}




.header-Art {
  display: flex;
  position: sticky;
  background-color: red;
  height: 75px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  padding: 5px;
  margin: 10;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px !important;
}

.h1-Art {
  margin: 10px;
  background-color: none;
}
.h2-Art {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
 margin: 0;
 padding-bottom: 10px ;
}
.p-Art {
  padding: 0;
  margin: 10px;
}
.main-Art {
  background-color: #2b5e35;
  padding: 0px;
  margin: 0px;
  grid-column: auto;
  /* justify-content: space-between; */
}
.footer-Art {
  /* background-color: rgb(131, 235, 187); */
  height: 170px;
  margin: 10px 10px 0px 40 px;
  padding: 0px 10px 0px 60 px;
  background-color: rgb(121, 148, 80);
}
.allaNovytska {
  display: flex;
  padding: 13px 5px 3px 5px;
  margin: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #2b5e35;
  text-shadow: 8px 9px 15px;
  text-shadow: #212c23;
}

.span-Art {
  padding: 20px;
  text-align: center;
  color: aqua;
}

.font-effect-fire-animation {
  color: rgb(59, 87, 46);
  text-shadow: 8px 9px 15px;
  text-decoration: rgb(242, 234, 9);
  text-align: center;
  font-style: italic;
  font-family: "Times New Roman", Times, bold, serif;
  /* background-color: none !important; */
}

.myButton-Art {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 6px 10px;
  margin: 2px;
  min-width: 140px;
  background: #e96443;
  background: -webkit-linear-gradient(to right, #4ce8ce, #e39885);
  background: linear-gradient(
    to right,
    #6da24c,
    #e06d50db,
    rgba(235, 215, 102, 0.729)
  );

  border: dotted;
  border-radius: 35px;
  border: gold;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* max-width: 160px; */
  max-height: 40px;
  text-align: center;
}

.myButton-Art:hover {
  background: -webkit-linear-gradient(to right, #365b54, #91321b, gold);
  background: linear-gradient(to left, #727bde, #d49a2edb);
  color: rgb(5, 5, 245);
  border-width: 2px;
  min-width: 140px;
  height: 40px;
  border: double;
}

.btnFavorite-Art {
  align-items: center;
}

.primary-Art {
  background-color: rgb(252, 3, 57);
  color: rgb(251, 251, 4);
  min-width: 140px;
}
.primary-Art:hover{
  border-color: red;
  color: rgb(37, 9, 75);
  min-width: 140px;
  background: linear-gradient(to left,red, #f66904, #ebc379db);
}

.butLoginInput {
  display: inline-flex;
  /* align-items: end; */
  /* justify-content: space-between; */
}

.textRightArt{
  align-items: center;
 justify-items: center;

}

.font-effect-shadow-multiple {
  color: gold;
  text-shadow: .04em .04em 0 #fff,.08em .08em 0 #aaa;
  -webkit-text-shadow: .04em .04em 0 #fff, .08em .08em 0 #aaa;
}