/* .myButton {
  min-width:  70px;
  display: flex;
  max-width: 160px;
  height: 30px;
  border: gold;
  border: double;
  padding: 6px 10px;
  margin: 2px;
  border-radius: 35px;
  color: white;
  cursor: pointer;
  justify-content: center;
} */

.myButton {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 6px 10px;
  margin: 2px;
  width: 140px;
  background: #e96443;
  background: -webkit-linear-gradient(to right, #4ce8ce, #e39885);
  background: linear-gradient(
    to right,
    #6da24c,
    #e06d50db,
    rgba(235, 215, 102, 0.729)
  );

  border: dotted;
  border-radius: 35px;
  border: gold;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* max-width: 160px; */
  max-height: 40px;
  text-align: center;
}

.myButton:hover {
  background: -webkit-linear-gradient(to right, #365b54, #91321b, gold);
  background: linear-gradient(to left, #727bde, #d49a2edb);
  color: rgb(5, 5, 245);
  border-width: 2px;
  height: 40px;
  border: double;
}

.btnFavorite {
  align-items: center;
}

.butLoginInput {
  display: inline-flex;
  /* align-items: end; */
  /* justify-content: space-between; */
}

/* .buttonEffectFireAnimation {
  color: rgb(59, 87, 46);
  text-shadow: 8px 9px 15px;
  text-decoration: rgb(242, 234, 9);
  text-align: center;
  font-style: italic;
  font-family: "Times New Roman", Times, bold, serif;
} */

/* .myButton {
  min-width: 65px;
  background-color: rgb(255, 96, 96);
  border: none;
  padding: 6px 10px;
  margin: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
} */

.primary {
  background-color: rgb(252, 3, 57);
  color: rgb(251, 251, 4);
}
.primary:hover{
  border-color: red;
  color: rgb(202, 251, 6);
  width: 160px;
  background: linear-gradient(to left,red, #f66904, #ebc379db);
}

/* .myButton:hover {
  background-color: #6F8FAC;
} */
