.desc {
    margin: 0px 0px 8px;
    font-style: italic;
  }
  
  .importantDesc {
    color: rgb(226, 79, 0);
  }
  
  .underlineDesc {
    text-decoration: underline;
  }
  
  .boldDesc {
    color: rgb(203, 103, 49);
    font-weight: bold;
  }