.heroCard {
    display: flex;
    padding: 15px 20px;
    border-radius: 10%;
    flex-direction: column;
    background-color: rgb(184, 224, 253);
  }
  
  .heroCard h4 {
    margin: 10px 0;
    text-decoration: underline;
  }
  
  .imageWrapper {
    overflow: hidden;
    border-radius: 10%;
    height: 250px;
  }
  
  .imageWrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .darkStyle {
    background-color: rgb(240, 159, 159);
  
  }