


.errorMessage {
  position: left;
  bottom: -20px;
  left: 0;
  background-color: #f8d7da;
  color: #721c24;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
}



.genderForm {
  position: relative;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .genderForm > input {
    margin-bottom: 6px;
  }
  .genderForm label {
    margin-bottom: 8px;
    color: rgb(177, 97, 248);font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .genderForm > button {
    padding: 3px 0px;
    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: rgb(177, 97, 248);
  }
  
  .genderForm > button:hover {
    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: rgb(206, 151, 255);
  }
  
  .genderOutput {
    margin-top: 0px;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }
  .genderOutput.female {
    color: red;
  }
  
  .genderOutput.male {
    color: blue;
  }