.card {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 6px 20px;
  }
  .card > h3 {
    text-align: center;
  }
  
  .imgWrapper {
    margin: 15px 0 20px;
    width: 100%;
    height: 200px;
  }
  
  .imgWrapper > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }