

.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding: 10px 50px;
  
}

/* .footer {
  height: 50px;
  background-color: rgb(221, 221, 221);
} */

/* .main > span {
  top: 100px;
  position: sticky;
  background-color: yellow;
  color: blue;
} */